.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body--image {
  width: 480px;
  height: 292px;
  border-radius: 20px;
  margin-right: 10px;
}

.post__footer {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 10ms ease-out;
}

.post__footer--icon:hover {
  color: var(--twitter-color);
}

.post__headerText {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__header--username {
  font-weight: 600;
  font-size: 12px;
  color: rgb(117, 117, 117);
}

.post__avatar {
  padding: 10px 0 20px 20px;
}
