.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* width: 100%; */
}

.sidebarOption:hover {
  background: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

.sidebarOption__icon {
  padding: 20px;
}

.sidebarOption__label {
  font-weight: 800;
  font-size: 19px;
  padding-right: 20px;
  margin-right: 20px;
  line-height: 24.9px;
}
